<h2>Asset Management</h2>
<div id="content"></div>
<script type="text/jsx">
  var Employee = React.createClass({
    getInitialState: function() {
      return {
        employees: []
      };
    },

    componentDidMount: function() {
      $.get(this.props.source, function(result) {
        if (this.isMounted()) {
          this.setState({
            employees: result
          });
        }
      }.bind(this));
    },

    render: function() {
      var items = this.state.employees.map(function(employee, i) {
        return (
          <tr key={employee["_id"]}>
            <td>{employee.name}</td>
            <td>{employee.xid}</td>
            <td>{employee.email}</td>
            <td>{employee.phone}</td>
          </tr>
          );
      });
      return (
        <div>
          <h3>Employees</h3>
          <table className="table table-striped">
            <tr>
              <td>Name</td>
              <td>XID</td>
              <td>email</td>
              <td>phone</td>
            </tr>
            {items}
          </table>
        </div>
      );
    }
  });

  React.render(<Employee source="http://localhost:8080/employees" />, document.getElementById('content'));
</script>
